/* our campus */

.our-campus-container .single-campus .img-container img {
  aspect-ratio: 355/255;
  overflow: hidden;
  width: 100%;
  border-radius: var(--radius);
}
.our-campus-container .single-campus .img-container img:hover {
  transform: scaleY(1.5);
  transform: translateY(-8px);
}
.our-campus-container .single-campus {
  width: 100%;
  border-radius: var(--radius);
  box-shadow: var(--box-shodow-dark);
}
.section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.our-campus-container .our-campus-name {
  font-size: 30px;
  font-weight: bold;
  color: var(--clr-primary);
  padding-top: 50px;
}
.our-campus-container .our-campus-discription {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.our-campus-container .our-campus-cities {
  padding-top: 20px;
  padding-bottom: 50px;
  color: var(--clr-primary);
  font-weight: bold;
}
.our-campus-container section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 50px;
}
.our-campus-container .our-campuses-title {
  color: var(--clr-primary);
  font-size: 30px;
  font-weight: bold;
}
@media screen and (min-width: 776px) {
  .our-campus-container section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 996px) {
  .our-campus-container section {
    grid-template-columns: repeat(3, 1fr);
  }
}
